.page {
    margin: 15px;
}

.page__title {
    padding-bottom: 20px; 
    text-align: center;
}

.page__image {
    margin-right: 15px;
}

.example__title {
    background-color: #de0790;
    color: white;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.active, .example__title:hover {
    background-color: #9e018f;
}

.example__content {
    padding: 25px;
    background-color: #fcfcfc;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: auto;
    
}

.code {
    background-color: #eeeff0;
    padding: 0 1.5em;
    flex: 1;
}

.interaction {
    flex: 1;
    padding: 2em;
}

.pre {
    flex: 1;
    padding: 25px;
}

.result {
    color: #9e018f;
}

.result__title {
    color: black;
}

.form {
    width: 25em;
    padding: 1.5em;
    margin: 0 auto;
    margin-bottom: 2em;
}
.form__input {
    width:90%; 
    margin: 0 auto;
}

.form__resultheading, .form__resultbox {
    margin: 0 auto;
    width: 25em;
}

.form__resultbox {
    list-style-type: none;
}

/* Hack needed to remove border in prettyprint container */
div pre.prettyprint {
    border: none;
}